{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}
    {{ term.name }} - {{ config.title }}
{% endblock title %}

{% block meta %}
    <meta name="description" content="{{ config.description }}">
    <meta property="og:title" content="{{ term.name }} - {{ config.title }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ get_url(path="logo.jpg") }}">
    <meta property="og:url" content="{{ current_url }}">
    <meta property="og:description" content="{{ config.description }}">
    <meta property="og:site_name" content="{{ config.title }}">
{% endblock meta %}

{% block content %}
    {% for page in term.pages %}
        <div class="post">
            {{ macros::post_header(page=page) }}
            <p>
                {{ page.summary | safe }}
            </p>
            <a class="read-more" href="{{ page.permalink }}">Continue reading »</a>
        </div>
    {% endfor %}
{% endblock content %}

