{% import "macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="yandex-verification" content="12d7c2bcc99908fe" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117260956-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-117260956-1');
    </script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter48423725 = new Ya.Metrika({
                        id:48423725,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/48423725" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->


    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    {% block meta -%}
    <meta name="description" content="{{ config.description }}" />
    <meta property="og:description" content="{{ config.description }}" />
    <meta property="og:title" content="{{ config.title }}{% if config.description %} - {{ config.description }}{% endif %}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ config.base_url }}" />
	<meta property="og:image" content="{{ config.base_url }}/images/" />
    {%- endblock %}

    <title>{% block title %}{{ config.title }}{% endblock title %}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ get_url(path="print.css", trailing_slash=false) }}" media="print">
    <link rel="stylesheet" href="{{ get_url(path="poole.css", trailing_slash=false) }}">
    <link rel="stylesheet" href="{{ get_url(path="hyde.css", trailing_slash=false) }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    {%- if config.generate_rss %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
    {%- endif %}

    {%- block extra_head -%}
    {%- endblock extra_head %}
  </head>

  <body class="{{ config.extra.hyde_theme }} {% if config.extra.hyde_reverse %}layout-reverse{% endif %}">
    {%- block sidebar %}
    <div class="sidebar">
      <div class="container {% if config.extra.hyde_sticky %}sidebar-sticky{% endif %}">
        <div class="sidebar-about">
        {%- block sidebar_about %}
          <a href="{{ config.base_url }}"><h1>{{ config.title }}</h1></a>
          {%- if config.description %}
            <p class="lead">{{ config.description }}</p>
          {%- endif %}
        {%- endblock sidebar_about %}
        </div>

        <ul class="sidebar-nav">
        {%- block sidebar_nav %}
        {%- for link in config.extra.hyde_links %}
          <li><a href="{{ link.url }}">{{ link.name }}</a></li>
        {%- endfor %}
        </ul>
		<nav class="sidebar-nav">
            {%- for social in  config.extra.social %}
            <a class="sidebar-nav-item" href="{{ social.link }}">
                <i class="fa fa-{{ social.type }}"></i>
			</a>
            {%- endfor %}
            {%- if config.generate_rss %}
            <a class="sidebar-nav-item" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
				<i class="fa fa-feed"></i>
            </a>
            {%- endif %}
		</nav>
        {%- endblock sidebar_nav %}
      </div>
    </div>
    {%- endblock sidebar %}

    <div class="content container">
      {% block content %}
        <div class="posts">
          {% for page in section.pages %}
            <div class="post">
              <h1 class="post-title">
                <a href="{{ page.permalink }}">
                  {{ page.title }}
                </a>
              </h1>

              <span class="post-date">{{ page.date | date(format="%Y-%m-%d") }}</span>
            </div>
          {% endfor %}
        </div>
      {% endblock content %}
    </div>

    </body>
</html>
