{% extends "base.html" %}

{% block title %}
    <title>Tags - {{ config.title }}</title>
{% endblock title %}

{% block meta %}
    <meta name="description" content="{{ config.description }}">
    <meta property="og:title" content="Tags - {{ config.title }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ get_url(path="logo.jpg") }}">
    <meta property="og:url" content="{{ current_url }}">
    <meta property="og:description" content="{{ config.description }}">
    <meta property="og:site_name" content="{{ config.title }}">
{% endblock meta %}

{% block content %}
    {% for category in categories %}
        <div class="tag">
            <h1 class="post-title">
                <a href="/categories/{{ category.slug }}">
                    {{ category.name }}
                </a>
            </h1>
            <p class="PostHeader__info">
                {{ category.pages | length }} post{{ category.pages | length | pluralize }}
            </p>
        </div>
    {% endfor %}
{% endblock content %}
