{% extends "base.html" %}

{% block title %}
    {{ category.name }} - {{ config.title }}
{% endblock title %}

{% block meta %}
    <meta name="description" content="{{ config.description }}">
    <meta property="og:title" content="{{ category.name }} - {{ config.title }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ get_url(path="logo.jpg") }}">
    <meta property="og:url" content="{{ current_url }}">
    <meta property="og:description" content="{{ config.description }}">
    <meta property="og:site_name" content="{{ config.title }}">
{% endblock meta %}

{% block content %}
    {% for page in category.pages %}
        {{ macros::post_header(page=page) }}
	    <p>{{ page.summary | safe }}</p>
    {% endfor %}
{% endblock content %}
