{% macro post_header(page) %}
<header class="PostHeader">
    <h1 class="post-title">
        <a href="{{ page.permalink }}">
            {{ page.title }}
        </a>
    </h1>
    <p class="PostHeader__info">
        <span class="post-date">
        {%- if page.date %}
            {{ page.date | date(format="%Y-%m-%d") }} 
        {% endif %}
        {%- if page.reading_time %}
            &#x00B7 {{ page.reading_time * 1.833 | round }} min read
        {%- endif -%}
        {%- if page.taxonomies['tags'] %}
            {%- for tag in page.taxonomies['tags'] %}
            &#x00B7 <a href="{{ get_url(path="tags") }}{{ tag | slugify }}">{{ tag }}</a>
            {%- endfor -%}
        {% endif %}
        </span>
    </p>
</header>
{% endmacro post_header %}
