{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}
    {{ page.title }} - {{ config.title }}
{% endblock title %}

{% block meta %}
    <meta name="description" content="{{ config.description }}">
    <meta property="og:title" content="{{ page.title }} - {{ config.title }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ get_url(path="logo.jpg") }}">
    <meta property="og:url" content="{{ current_url }}">
    <meta property="og:description" content="{{ config.description }}">
    <meta property="og:site_name" content="{{ config.title }}">
{% endblock meta %}

{% block content %}
<div class="post">
    {{ macros::post_header(page=page) }}
    {{ page.content | safe }}
</div>

<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
var disqus_config = function () {
    this.page.url = "{{ page.permalink | safe}}"; 
    this.page.identifier = "{{ page.slug | safe }}"; 
};
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://singulared.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            
{% endblock content %}
