{% extends "base.html" %}
{% import "macros.html" as macros %}


{% block content %}
<div class="posts">
{% for page in section.pages %}
    <div class="post">
        {{ macros::post_header(page=page) }}
	    <p>
            {{ page.summary | safe }}
	    </p>
	    <a class="read-more" href="{{ page.permalink }}">Continue reading »</a>
    </div>
{% endfor %}
</div>
{% endblock content %}
